page-userprofile {

.titulo{
    margin-top: 8%;
    width: 100%;
    justify-content: center;
    }
.datosUsuario{
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
}

.usuarioHeader{
    text-align: center;
    
}

.opcionesUsuario{
    margin-top: 5%;
}

.opcionesUsuario:hover{
    cursor: pointer;
}


}
