



<ion-header class="header">
  <ion-navbar>
  <ion-searchbar class="buscador" placeholder="Buscar Articulo"> </ion-searchbar>
  <ion-buttons end>
      <button class="btnPerfil"  (click)="abrirLogin()" ion-button >
          <ion-icon class="icono_color" name="md-contact"></ion-icon>
      </button>  
  </ion-buttons>
</ion-navbar>
  
</ion-header>


<ion-content >

  <ion-row class="row"> 
      <ion-col class="botonesMenu">
          <button ion-button (click)="menPage()" class="botonMenu">HOMBRE</button>
        </ion-col>
        <ion-col class="botonesMenu">
            <button ion-button (click)=" womanPage()" class="botonMenu">MUJER</button>
          </ion-col>
          <ion-col class="botonesMenu">
              <button ion-button  (click)="kidPage()" class="botonMenu">NIÑO</button>
            </ion-col>
    </ion-row>

    <ion-slides autoplay="5000" loop="true" speed="3000">
        <ion-slide class="contenedor" *ngFor="let slide of slideData" >
          <img src="{{slide.image}}" (click)="mostrar()" />
          <div [hidden]="variable" class="centrado" (click)="mostrar()"> 
            <p class="textoCentrado">Lo mas vendido</p>
            <p class="textoImagen">Novedades</p>
            <p class="textoImagen">Rebajas</p>
          </div>
        </ion-slide>
      </ion-slides>

      <ion-row  class="rowArticulo"> 
        <ion-col class="colArticulo" *ngFor="let playera of playerasInicio" >
            <ion-card class="cardArticulo">
                <ion-card-content class="cardContent">
                    <img class="imagenArticulo" img src="{{playera.image}}"/>
                  <p class="precio">$269.00</p>
                </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row  class="rowArticulo"> 
        <ion-col class="colArticulo" *ngFor="let playera of playerasInicio" >
            <ion-card class="cardArticulo">
                <ion-card-content class="cardContent">
                    <img class="imagenArticulo" img src="{{playera.image}}"/>
                  <p class="precio">$269.00</p>
                </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
<!--
  <ion-card class="cardInicio">
    <ion-card-content class="cardContent">
        <ion-navbar class="menu">
            <button ion-button class="botonMenu">HOMBRE</button>
            <button ion-button class="botonMenu">MUJER</button>
            <button ion-button class="botonMenu">NIÑO</button>
          </ion-navbar>
    </ion-card-content>
  </ion-card>

   
  <ion-card>
    <ion-card-content>
      <img class="imagen" src="assets/imgs/hombre.png" />
      <button ion-button clear class="botonItem">Playeras</button>
      <button ion-button clear class="botonItem">Sudaderas</button>
      <button ion-button clear class="botonItem">Chamarras</button>
    </ion-card-content>
  </ion-card>
 -->

  

  </ion-content>



