page-registro {

    .contentReg{

        background-color: rgb(43, 43, 43);

    }

    .colNuev{
        width: 100%;
        height: 100%;
        text-align: start;
       // background-color: #FFFFFF;
    }

    .colReg{
        margin-top: 15px;
        width: 100%;
        height: 100%;
        text-align: end;
       // background-color: #FFFFFF;
    }

    .rowNueva{
        padding: 0;
        height: 100%;
        margin-top: 10%;
        
    }

    .dridNueva{
        padding: 0;
        height: 25%;

    }

    .hPaso{

        
        color: #FFFF;
        font-size: 15px;

    }

    .hNuevo{

        color: #FFFF;
        font-size: 30px;

    }

    .item-nombre{
        background-color: rgb(43, 43, 43);
    }

    .item-nombrePrimero{
        margin-top: 20px;
        background-color: rgb(43, 43, 43);
    }


    .inputNuevo{
        color:#FFFFFF;
    }

    .btnCont{
        margin-top: 30px;
    }

}
