page-carrito {

    
    
    .cantidad_col{
        margin-top: 4%;
        margin-left: 4%;
    }

    .cantidad{
        margin-top: 4%;
    }

    .itemColor{
        background-color: #CAC6E8;
    }

    .pTotal{
        color:#860000;
    }

    .center-cropped {
        width: 100%;
        height: 120px;
        background-size: 200%;
        background-position: center center;
        background-repeat: no-repeat;
      }


      .icons{
        font-size: 110%;
        color:#860000;
    }
}
